main .card {
    width: 100%;
    border: none;
    background-color: rgb(235, 235, 235);
}

main .card .login form button,
main .card .footer a{
    background-color: rgb(24, 212, 33);
    color: white;
    transition: all 300ms ease;
}

main .card .login form button:hover{
    background-color: rgb(5, 185, 5);
}

main .card .card-left-img img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 5px 5px 0 0;
}

main .card .login a{
    text-decoration: none;
}

@media (min-width: 768px) {
    main .card{
        width: 100%
    }
    main .card .card-left-img img{
        border-radius: 5px 0 0 5px;
    }

    main .card .login,
    main .card .card-left-img{
        width: 50%;
    }

    
}