.renta .card {
  width: 90%;
  background-color: rgb(235, 235, 235);
}

.renta .card .renta-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px 6px 0 0px;
}

.renta .card .renta-img,
.renta .card .renta-form {
  width: 100%;
}
/* 
.renta .card .renta-form {
    width: 50%;
} */

.renta .card .renta-form #btnsaverent,
.devolucion .card .devolucion-form #btnsavedevolucion {
  background-color: rgb(24, 212, 33);
  border: none;
  transition: all 300ms ease;
}

.renta .card .renta-form #btnsaverent:hover,
.devolucion .card .devolucion-form #btnsavedevolucion:hover {
  background-color: rgb(5, 185, 5);
}

@media (min-width: 768px) {
  .renta .card .renta-img img {
    border-radius: 6px 0px 0 6px;
  }
  .renta .card .renta-img,
  .renta .card .renta-form {
    width: 50%;
  }

  .renta .card{
    width: 75%;
  }
}
